<html>
    <head>
        
        <link rel="stylesheet" type="text/css" href="/css/controller.css">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
                <div class=controller>
                    <div class=centerBlue>
                        <div class=centerLeft></div>   
                        <div class=centerRight></div>  
                    </div>
                    <div class=centerSelect>
                        <div class=SLeft></div>
                        <div class=SRight></div>
                    </div>
                    
                    <div class=controllerLeft>
                        <div class=circle></div>
                        <div class=crossCenter>
                            <div class=crossTop></div>
                            <div class=crossBottom></div>
                            <div class=crossLeft></div>
                            <div class=crossRight></div>
                            <div class=crossCircle></div>
                        </div>
                    </div>
                    <div class=controllerRight>
                        <div class=backButton1Center>
                            <div class= cornerLeft1></div>
                            <div class= cornerRight1></div>
                        </div>
                        <div class=backButton2Center>
                            <div class= cornerLeft2></div>
                            <div class= cornerRight2></div>
                        </div>
                    </div>
                </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script>
        console.log('hello')
        var socket = io();
        $('.crossTop').mousedown('click', function() {
            loopthis = setInterval(forward, 0);
        }).mouseup(function () {
            console.log('Stopped');
            socket.emit('StopController','Done');
            clearInterval(loopthis);
        });
        
        $('.crossBottom').mousedown('click', function() {
            loopthis = setInterval(backward, 0);
        }).mouseup(function () {
            console.log('Stopped');
            socket.emit('StopController','Done');
            clearInterval(loopthis);
        });
        $('.crossLeft').mousedown('click', function() {
            console.log('Stopped');
            socket.emit('StopController','Done');
            loopthis = setInterval(left, 0);
        }).mouseup(function () {
            console.log('Stopped');
            socket.emit('StopController','Done');
            clearInterval(loopthis);
        });
        $('.crossRight').mousedown('click', function() {
            loopthis = setInterval(right, 0);
        }).mouseup(function () {
            console.log('Stopped');
            socket.emit('StopController','Done');
            clearInterval(loopthis);
        });
        function forward(){
            console.log('up')
            socket.emit('MoveController','up');
        }
        function backward(){
            console.log('down');
            socket.emit('MoveController','down');
        }
        function left(){
            console.log('left');
            socket.emit('MoveController','left');
        }
        function right(){
            console.log('right')
            socket.emit('MoveController','right');
        }
        </script>
    </body>
</html>