<!DOCTYPE html>
<html>
    <head>
        <title>Point</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- JQuery UI css -->
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
        <style>
            html, body, #map {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
        <!-- JQuery -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <!-- TPL MAPS API -->
        <!-- Enter Your API Key -->
        <!-- <script src="https://tplmaps.com/api/tplmaps.js?api_key={Your API KEY}></script> -->
        <!--<script src="https://tplmaps.com/api/tplmaps.js?api_key=ZmFoYWQuYi5uYWVlbUBnbWFpbC5jb206MjAxNS0wOS0xMCAxMDozNTowMDpOdXN0IEgtMTIgSXNsYW1hYmFk"></script>-->
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
        <script src="http://api.tplmaps.com/tpl-jsapi/tplmaps.js?api_key=$2a$10$4zvjGxd64OBuuGDCDpoAXOuJnHDNVttLAS0W4IR36fZcPYKC4psJy"></script>

        <script type="text/javascript">
            //This will hold reference of map object.
            var userMap;
            //This will hold reference of Map Object for TPL Maps
            var map;
            //This will hold reference to pin object
            var m;
            var map = {
                addMap: function () {
                    var options = {
                        center: {lat: 31.522688, lng: 73.093955},
                        zoom: 15,
                        div: "map"
                    };
                    return TPLMaps.loadMap(options);
                },
                addPoint: function (lat, lng, width, height, infoText) {
                    var option = {
                        lat: lat, lng: lng,
                        icon: '/images/marker-green.png',
                        iconwidth: width,
                        iconheight: height,
                        anchorwidth: 0,
                        anchorheight: 0
                    };
                    var marker = TPLMaps.Point(option);
                    marker.addInfoWindow(infoText);
                    marker.addToMap(userMap);
                    return marker;
                }
            };
            window.onload = function () {
                userMap = map.addMap();

            };

            $(document).ready(function () {
                $("#addPoint").click(function () {
                    userMap.on('click', addP);
                });
                function addP(e) {
                    clearAll();
                    if (m != undefined) {
                        userMap.removeLayer(m);
                    }
                    $("#pLat").val(e.latlng.lat);
                    $("#pLng").val(e.latlng.lng);
                    var lat = $("#pLat").val();
                    var lng = $("#pLng").val();
                    var width = $("#pWidth").val();
                    var height = $("#pHeight").val();
                    var txt = $("#ptxt").val();
                    m = map.addPoint(lat, lng, width, height, txt);
                    userMap.off('click');
                }

                $("#clearBut").click(function () {
                    clearAll();
                });
            });

            function clearAll() {
                if (m != undefined) {
                    userMap.removeLayer(m);
                }

            }

        </script>
    </head>
    <body>
        <div class="form-inline" style="padding:10px;">
            <label>Latitude : </label>
            <input id="pLat" value="33.7119" class="form-control">
            <label>Longitude : </label>
            <input id="pLng" value="73.0556113" class="form-control">
            <label>Info Window</label>
            <input id="ptxt" value="TPL Maps Info Window" class="form-control">
            <br/>
			
			<div style="padding-top:10px;">
				<label>Icon Width :</label>
				<input id="pWidth" value="28" class="form-control">
				<label>Icon Height : </label>
				<input id="pHeight" value="35" class="form-control">

				<button id="addPoint" type="button" class="btn btn-primary">Add Point</button>
				<button id="clearBut" type="button" class="btn btn-danger">Clear</button>
			</div>

        </div>
        <div id="map"></div>
    </body>
</html>
